
.header {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 4rem 0;
    text-align: center;
}

@media screen and (max-width: 996px) {
    .header {
        padding: 2rem;
    }
}

.titleContainer {
    color: var(--ifm-color-primary);
}

.subTitle {
    font-size: 1.5em;
    color: var(--ifm-heading-color);
}

.buttonLink {
    color: var(--home-page-header-button-color);
}

















