.layout {

}

.main {
  line-height: 0;
  font-size: 0;
}

.strictMain {

}

@media screen and (max-width: 1500px) {
  .main {
    height: calc(100vh - 90px);
  }

  .main > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
