@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ifm-color-primary: #2e8555;

    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --site-primary-hue-saturation: 0 80%;
    --site-primary-hue-saturation-light: 167 56%;
    --home-page-header-button-color: #2b2b2b;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #90b8f8;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --ifm-navbar-background-color: rgba(1, 1, 1, 0.7);
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

div[class^='announcementBar_'] {
    --site-announcement-bar-stripe-color1: hsl(
        var(--site-primary-hue-saturation) 85%
    );
    --site-announcement-bar-stripe-color2: hsl(
        var(--site-primary-hue-saturation) 95%
    );
    background: repeating-linear-gradient(
        35deg,
        var(--site-announcement-bar-stripe-color1),
        var(--site-announcement-bar-stripe-color1) 20px,
        var(--site-announcement-bar-stripe-color2) 10px,
        var(--site-announcement-bar-stripe-color2) 40px
    );
    font-weight: bold;
}
