.container {
    width: 34px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 30px;
    border: 2px solid #ccd0d5;
    cursor: pointer;
    box-sizing: border-box;
}

@media screen and (max-width: 996px) {
    .container {
        margin-right: 134px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-right: 40px;
    }
}

.toggle {
    position: relative;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: var(--ifm-color-primary);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}

[data-theme='dark'] .toggle {
    box-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}

.checked {
    position: relative;
    left: 10px;
    transition: all 0.3s ease;
}



